body {
    /* background-image: url("img/Mark-OMeley-5469339.jpg"); */
    /* background-position: 50% 50%; */
    /* background-repeat: repeat; */
    background: #EEE;
}
path {
    stroke-width: 3;
    fill: none;
}
.navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: #2a7f39;
}
#date-select {
    width: auto;
}
#contents {
    background-color: white;
    padding: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#nrl-buttons {
    padding: 15px;
}
.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 4px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 2px;
    border-radius: 8px;
    pointer-events: none;
}

#chartArea {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
}

#chartArea > svg {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

/* #nrl-buttons button {

}
#nrl-buttons button.selected {

} */

.nrl_logo {
      filter: none; /* IE5+ */
      -webkit-filter: grayscale(0); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .2s ease-in-out;
    }

.nrl_logo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
